* {
    margin: 0 auto;
}

body {
    background-color: #262626;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #00ff91;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    color: #00ff91;
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    text-transform: uppercase;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    color: #00ff91;
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    text-transform: uppercase;
}

h3 {
    font-size: 25px;
    font-weight: 700;
    color: #262626;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    padding-bottom: 20px;
}

p {
    font-size: 20px;
    font-weight: 400;
    color: #00ff91;
    text-align: center;
    margin: 20px 0;
    padding: 10px;
}

.fx-description {
    font-size: 18px;
    font-weight: 500;
    color: #262626;
    margin: 10px 0;
    padding: 0;
}

.app-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fdfdfd;
    border-radius: 5px solid #333;
    box-shadow: 0 0 15px 0 #00ff91;
    max-width: 600px;
    padding: 20px;
    
}

.voice-changer-container {
    padding: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 15px;
}

.voice-start-toggle {
    background-color: #00ff91;
    border: 3px solid #333;
    border-radius: 10%;
    color: #333;
    padding: 15px 32px;
    text-decoration: none;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
    cursor: pointer;
}

.voice-start-toggle:hover {
    background-color: #333;
    color: #00ff91;
    border: 3px solid #00ff91;
    box-shadow: 0 0 20px 0 #00ff91;
    font-weight: bolder;
    transition: .2s;
}

#mic-indication {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid #333;
    background-color: darkred;
    text-align: center;
}

.effect-container {
    display: block-inline;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 15px;
}

.fx-section {
    width: 210px;
    height: 360px;
    display: inline-block;
    vertical-align: text-top;
    flex-direction: column;
    border: 5px solid #333;
    border-radius: 10%;
    padding: 20px;
    margin: 20px 10px;
    text-transform: uppercase;
}

#distortion-container{
    background-color: green;
}

#delay-container {
    background-color: lightgray;
}

#reverb-container {
    background-color: darkgray;
}

#chorus-container {
    background-color: greenyellow;
}

#tremolo-container {
    background-color: purple;
}

span {
    font-size: 22px;
    font-weight: 800;
    color: #333;
    text-align: center;
    text-transform: uppercase;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #333;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fdfdfd;
    cursor: pointer;
    opacity: 1;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fdfdfd;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
    width: 16px;
    height: 16px;
    transition: .3s;
}

.slider::-moz-range-thumb:hover {
    width: 16px;
    height: 16px;
    transition: .3s;
}